.profile {
  height: 90vh;
}
.profile-message {
  font-weight: 400;
  font-size: 15px;
  position: fixed;
  top: 20%;
  padding: 20px;
  border: 1px solid var(--accent);
  border-radius: 100px;
  transition: all 0.6s ease-in;
  visibility: visible;
  opacity: 1;
  color: var(--accent);
}
.profile-message.close {
  visibility: hidden;
  opacity: 0;
}
.profile__container {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 220px;
  max-width: 410px;
  width: 100%;
  box-sizing: border-box;
}
.profile__form_wrapper {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}
.input__error-profile {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--error);
  text-align: center;
  margin-top: 10px;
}
.profile__edit {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background-color: transparent;
}

.profile__edit:disabled {
  color: #a0a0a0;
}
.profile__logout {
  color: var(--error);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background-color: transparent;
}
.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--blacktext);
  margin: 0 0 123px;
  padding: 0;
}

.profile__lable {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  border: none;
  text-align: right;
  align-items: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  height: 46px;
}

.profile__input.type-error {
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 8px;
}

.profile__input.text-error {
  color: var(--error);
}

.profile__input.wrapper:hover {
  border: 1px solid var(--error);
  border-color: var(--accent);
  border-radius: 8px;
}

.profile__input-line {
  border-bottom: 1px solid var(--linegray);
  width: 100%;
  margin: 16px 0;
}
.profile__save {
  display: none;
  width: 410px;
  height: 45px;
  background: var(--accent);
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--whitetext);
  position: static;
  bottom: 50px;
}
.profile__save.active {
  display: block;
}
.profile__save:disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  color: #c2c2c2;
  position: static;
}
.profile__text-error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: var(--error);
  margin-bottom: 20px;
}
/*.profile__box {
  display: flex;
  flex-direction: column;
}
.profile__box.active {
  display: none;
}*/

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 0 0 96px;
  }
  .profile__container {
    padding: 236px 0 269px;
  }
}
@media screen and (max-width: 480px) {
  .profile__container {
    padding: 70px 30px 40px;
  }
  .profile__save,
  .profile__save:disabled {
    width: 260px;
    height: 45px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 320px) {
  .profile__title {
    margin: 0 0 80px;
  }
  .profile__edit,
  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__form {
    margin-bottom: 379px;
  }
}
